<h2>Interpolation</h2>

<p>{{ nome }} tem {{ idade }} anos.</p>

<p>{{ nome }} tem mais de 28 anos? {{ idade > 28 }}</p>

<p>2 x 2 = {{ 2 * 2 }}</p>

<hr>
<h2>Property Binding</h2>

<button [disabled]="checkedDisabled">Botão</button>

<img [src]="imgSrc" alt="logo" width="200px">

<hr>
<h2>Event Binding</h2>

<button (click)="alertaInfo()">Botão Alerta</button>&nbsp;

<button (click)="eventInfo($event)">Botão Evento</button>
<br><br>
<div (mousemove)="mouseMoveTest($event)" style="background: red; width: 300px; height: 300px;"></div>

<p>X: {{ position.x }} &nbsp; Y: {{ position.y }}</p>

<hr>
<h2>Two-way Binding</h2>

<input type="text" [(ngModel)]="nome" name="nome">
Seu nome é: {{ nome }}